OFDM_2.m
**/.DS_Store
ofm_from_lecture.m
testing.m
matlab_workspace.m

# Ignore PDF files
*.pdf

# Ignore MATLAB autosave files
*.asv

# Ignore entire folder
final/

# ignore file in folder
jupyter_notebook/ML_RET_training.ipynb
jupyter_notebook/ML_RET_load.ipynb

